<div fxLayout="column">
    <div>
        <h1>Buscador de heroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Buscador</h3>
        <mat-form-field>
            <input type="text"
                    placeholder="Buscar... "
                    aria-label=""
                    matInput
                    [(ngModel)] = "termino"
                    [matAutocomplete]="auto"
                    (input)="buscando()"
            >
            <mat-autocomplete 
                autoActiveFirstOption 
                #auto="matAutocomplete"
                (optionSelected)="opcionSeleccionada($event)">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{ heroe.superhero }}
                </mat-option>

                <mat-option value="" *ngIf="heroes.length === 0 && termino.trim().length > 0">
                    No se ha encontrado nada con el termino: {{ termino }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div *ngIf="HeroeSeleccionado">
        <app-heroe-card [heroe]="HeroeSeleccionado"></app-heroe-card>
    </div>
</div>